amqp==2.5.2
asn1crypto==0.24.0
attrs==19.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.7.1
billiard==3.6.2.0
bleach==3.1.0
boto==2.49.0
boto3==1.9.138
botocore==1.12.138
bs4==0.0.1
bz2file==0.98
cachetools==3.1.1
celery==4.4.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
click==6.7
colorama==0.4.1
configparser==3.7.4
contextlib2==0.6.0.post1
cycler==0.10.0
Cython==0.28.2
dash==1.9.0
dash-bootstrap-components==0.8.3
xlrd==1.2.0
dash-core-components==1.8.0
dash-dangerously-set-inner-html==0.0.2
dash-enterprise-auth==0.0.4
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.0
dateparser==0.7.2
decorator==4.3.0
defusedxml==0.5.0
docopt==0.6.2
docutils==0.14
entrypoints==0.3
enum34==1.1.6
et-xmlfile==1.0.1
fakeredis==1.1.1
feedparser==5.2.1
Flask==1.0.2
Flask-Compress==1.4.0
gunicorn==19.10.0
pandas==0.24.2
pandas-datareader==0.6.0
pandocfilters==1.4.2
